<div class="header">
  <ul>
    <!--Representa Lista de itens -->
    <li id="nav-logo"><img src="assets/iconSpot.png" width="35" height="35"> spotify</li> <!--Logo Spotify na navbar -->


    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/faq">Ajuda</a></li>
    <li>
      <a
        href="https://www.instagram.com/spotifybrasil/?hl=pt-br"
        target="_blank"
        >Instagram</a
      >
    </li>
    <li>
      <a
        href="https://promo.spotify.com/br/store-1/?checkout=false&utm_expid=.GvcfMXEoRHSeQhQ9M5lIYA.1&utm_referrer="
        target="_blank"
        >Premium</a
      >
    </li>
  </ul>
</div>
