



<div class="shadow">

    
   

    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/Song1.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/Song1.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/Song1.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/Song1.mp3" type ="audio/mp3">
            
    
    </audio>
    
    

    <div class="imgbox">
        <img src="assets/AlokAudioView.png" >
    </div>
    <h1 id="tituloCantor">ALOK-ELETRÔNICA</h1>
</div>