



<div class="shadow">

    
   

    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/Alok  Mathieu Koss - Big Jet Plane (Official Lyric Video).mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/Alok, Bruno Martini feat. Zeeba - Hear Me Now (Club Edit).mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/Alok, Rooftime, Dubdogz - Free My Mind.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/Alok, Zeeba, IRO - Ocean (Radio Edit).mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/AlokAudioView.png" >
    </div>
    <h1 id="tituloCantor">ALOK-ELETRÔNICA</h1>
    <p id="titulomusica">Big Jet Plane  <br> Alok ● Mathieu Koss</p>
    <p id="titulomusica2">Hear Me Now  <br> Alok ● Zeeba</p>
    <p id="titulomusica3">Free My Mind  <br> Alok ● Rooftime ● Dubdogz </p>
    <p id="titulomusica4">Ocean  <br> Alok ● Zeeba ● IRO </p>
</div>