
<ul>
    <li><a (click)="open()" >ALOK</a></li>
    <li><a (click)="open2()" >GORILLAZ</a></li>
    <li><a (click)="open3()" >IMAGINE DRAGONS</a></li>
    <li><a (click)="open4()" >COLDPLAY</a></li>
    <li><a (click)="open5()" >BTS</a></li>
    <li><a (click)="open6()" >PINK FLOYD</a></li>
    
</ul>




<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/Alok  Mathieu Koss - Big Jet Plane (Official Lyric Video).mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/Alok, Bruno Martini feat. Zeeba - Hear Me Now (Club Edit).mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/Alok, Rooftime, Dubdogz - Free My Mind.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/Alok, Zeeba, IRO - Ocean (Radio Edit).mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/AlokAudioView.png" >
    </div>
    <h1 id="tituloCantor">ALOK-ELETRÔNICA</h1>
    <p id="titulomusica">♫ Big Jet Plane  <br> Alok ● Mathieu Koss</p>
    <p id="titulomusica2">♫ Hear Me Now  <br> Alok ● Zeeba</p>
    <p id="titulomusica3">♫ Free My Mind  <br> Alok ● Rooftime ● Dubdogz </p>
    <p id="titulomusica4">♫ Ocean  <br> Alok ● Zeeba ● IRO </p>
</div>









<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/Gorillaz - Désolé (feat. Fatoumata Diawara).mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/Gorillaz - Feel Good Inc. (Remastered).mp3" type ="audio/mp3">
        
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/Gorillaz - Let Me Out (Art Track).mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/Gorillaz-ClintEastwood.mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/GorillazAudioView.png" >
    </div>
    <h1 id="tituloCantor">GORILLAZ - ROCK ALTERNATIVO</h1>
    <p id="titulomusica">♫ Désolé  <br> Gorillaz ● Fatoumata Diawara</p>
    <p id="titulomusica2">♫ Feel Good Inc.  <br> Gorilalz</p>
    <p id="titulomusica3">♫ Let Me Out  <br> Gorillaz ● Pusha T ● Mavis Staples </p>
    <p id="titulomusica4">♫ Clint EastWood  <br> Gorillaz </p>
</div>





<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/Imagine Dragons - Believer.mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/Imagine Dragons - Radioactive.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/Imagine Dragons - Thunder.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/Imagine Dragons- Warrios.mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/ImagineDragonsAudioView.png" >
    </div>
    <h1 id="tituloCantor">IMAGINE DRAGONS - POP ROCK </h1>
    <p id="titulomusica">♫ Believer  <br> Imagine Dragons</p>
    <p id="titulomusica2">♫ Radioactive  <br> Imagine Dragons</p>
    <p id="titulomusica3">♫ Thunder  <br> Imagine Dragons </p>
    <p id="titulomusica4">♫ Warrios  <br> Imagine Dragons </p>
</div>







<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/Coldplay - Adventure Of A Lifetime (Official video).mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/Coldplay - Hymn For The Weekend (Official video).mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/Coldplay - Up&Up (Official video).mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/Coldplay-Viva La Vida.mp3" type ="audio/mp3">
            musicaDiretorio/
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/ColdPlayAudioView.jpg" >
    </div>
    <h1 id="tituloCantor">COLDPLAY - MUSICA POP </h1>
    <p id="titulomusica">♫ Adventure Of A Lifetime  <br> Coldplay</p>
    <p id="titulomusica2">♫ Hymn For The Weekend  <br> Coldplay</p>
    <p id="titulomusica3">♫ Up & Up  <br> Coldplay </p>
    <p id="titulomusica4">♫ Viva La Vida  <br> Coldplay </p>
</div>






<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/BTS - Boys with Luv.mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/BTS (방탄소년단) DNA Official MV.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/BTS (방탄소년단) IDOL Official MV.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/BTS (방탄소년단) MIC Drop (Steve Aoki Remix) Official MV.mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/BTSAudioView.jpg" >
    </div>
    <h1 id="tituloCantor">BTS - KPOP </h1>
    <p id="titulomusica">♫ Boys With Luv  <br> BTS</p>
    <p id="titulomusica2">♫ DNA  <br> BTS</p>
    <p id="titulomusica3">♫ IDOL  <br> BTS </p>
    <p id="titulomusica4">♫ MIC DROP  <br> BTS ● Steve Aoki</p>
</div>







<div class="shadow">

    
    <audio controls preload="metadata" class="audioMusic">

        <source src="assets/musicaDiretorio/Pink Floyd -  Time.mp3" type ="audio/mp3">
            
    
    </audio>

   

    <audio controls preload="metadata" class="audioMusic2">

        <source src="assets/musicaDiretorio/Pink Floyd - Another Brick In The Wall.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic3">

        <source src="assets/musicaDiretorio/Pink Floyd - Comfortably Numb.mp3" type ="audio/mp3">
            
    
    </audio>

    <audio controls preload="metadata" class="audioMusic4">

        <source src="assets/musicaDiretorio/Pinky Floyd - Wish You Were Here.mp3" type ="audio/mp3">
            
    
    </audio>

    
    
    

    <div class="imgbox">
        <img src="assets/imagemDiretorio/PinkFloydAudioView.jpg" >
    </div>
    <h1 id="tituloCantor"> Pink Floyd - Rock Psicodelico </h1>
    <p id="titulomusica">♫  Time <br> Pink Floyd</p>
    <p id="titulomusica2">♫ Another Brick In The Wall   <br> Pink Floyd</p>
    <p id="titulomusica3">♫ Confortably Numb  <br> Pink Floyd </p>
    <p id="titulomusica4">♫ Wish You Were Here  <br> Pink Floyd</p>
</div>





<a id= "Bneon" (click)="openTop()">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Voltar Ao Topo ▲
    </a>





