<div class="panel">
  <details>
    <summary>
      <ul>
        <li class="titleName">Lorem ipsum dolor sit amet.</li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.
      </p>
    </div>
  </details>

  <details>
    <summary>
      <ul>
        <li class="titleName">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore,
          distinctio.
        </li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.
      </p>
    </div>
  </details>

  <details>
    <summary>
      <ul>
        <li class="titleName">
          Lorem ipsum dolor sit amet consectetur.
        </li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas.
      </p>
    </div>
  </details>
</div>
