
<div class="panel">
  <details>
    <summary>
      <ul>
        <li class="titleName"><b> O QUE É O SPOTIFY</b>?</li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        O Spotify é um serviço de streaming digital que dá acesso instantâneo a milhões de músicas, podcasts, vídeos e 
        outros conteúdos de artistas de todo o mundo..
      </p>
    </div>
  </details>

  <details>
    <summary>
      <ul>
        <li class="titleName">
          <b>FALE CONOSCO</b>.
        </li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        Com o suporte online, podemos enviar e receber links e capturas de tela. 
        Dessa forma, podemos tirar dúvidas e identificar problemas com mais eficiência.
      </p>
    </div>
  </details>

  <details>
    <summary>
      <ul>
        <li class="titleName">
          <b>VISITE A COMUNIDADE!</b>
        </li>
        <li></li>
      </ul>
    </summary>
    <div class="content">
      <p>
        Tem uma pergunta? Encontre respostas na nossa Comunidade de fãs especialistas do mundo todo!
      </p>
    </div>
  </details>
</div>
