<div class="wrapper">

    <div class = "card">

        <img src="assets/Alok-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1> Alok</h1>
            
            <a href="#" class = "btn">Read More</a>

        </div>
    </div>


    <div class = "card">

        <img src="assets/Gorillaz-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1> Gorillaz</h1>
            
            <a href="#" class = "btn">Read More</a>

        </div>
    </div>

    <div class = "card">

        <img src="assets/Imagine Dragons-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1>Imagine</h1>
           
            <a href="#" class = "btn">Read More</a>

        </div>
    </div>

   

</div>