<div class="wrapper">

    <div class = "card">

        <img src="assets/Alok-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1 id = "alokh1"> Alok</h1>

            <p>eletronica</p>
            
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>


    <div class = "card">

        <img src="assets/Gorillaz-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1 id = "gorillazh1"> Gorillaz</h1>

            <p id = "gorillazp">Rock alternativo</p>
            
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>

    <div class = "card">

        <img src="assets/Imagine Dragons-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1 id = "imagineh1">Imagine Dra.</h1>

            <p id = "imaginep">Pop Rock</p>
           
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>

   

</div>


<div class="wrapper">

    <div class = "card">

        <img src="assets/ColdPlay-album.png" width="350px" height="300px">

        <div class="Info">
            <h1 id = "coldplayh1"> ColdPlay </h1>

            <p id = "coldplayp"> Musica pop</p>
            
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>


    <div class = "card">

        <img src="assets/bts-album.jpg" width="350px" height="300px">

        <div class="Info">
            <h1 id = "btsh1">BTS </h1>

            <p id = "btsp">K-pop</p>
            
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>

    <div class = "card">

        <img src="assets/pinkfloyd.jpg" width="350px" height="300px">

        <div class="Info">
            <h1 id = "pinkfloydh1">Pink Floyd</h1>

            <p id = "pinkfloydp">Rock psicodelico</p>
           
            <a href="#" class = "btn">Ouça Agora</a>

        </div>
    </div>

   

</div>